Import necessary modules.

In [67]:
import pymongo

Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.

In [68]:
style=pymongo.MongoClient("mongodb://haridb:haridb@harimongo-shard-00-00.vijgo.mongodb.net:27017,harimongo-shard-00-01.vijgo.mongodb.net:27017,harimongo-shard-00-02.vijgo.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-g5aegn-shard-0&authSource=admin&retryWrites=true&w=majority")

In [69]:
db=style["client"]

Create a collection.

In [70]:
c1=db["tele"]

For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

In [71]:
x=[{"name":"Hari","phno":8124141543,"place":"chennai"},{"name":"bala","phno":7854354633,"place":"tambaram"},{"name":"muruga","phno":7124354453,"place":"madurai"}]

Insert the record into the collection.

In [72]:
c1.insert_many(x)

Make a query to find records you just created.

In [75]:
records=db["tele"]

In [76]:
for i in records.find():
  print(i)

{'_id': ObjectId('6225ae9641ae54792b303768'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225afac41ae54792b303769'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225afac41ae54792b30376a'), 'name': 'bala', 'phno': 7854354633, 'place': 'tambaram'}
{'_id': ObjectId('6225afac41ae54792b30376b'), 'name': 'muruga', 'phno': 7124354453, 'place': 'madurai'}
{'_id': ObjectId('6225affc41ae54792b30376d'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225affc41ae54792b30376e'), 'name': 'bala', 'phno': 7854354633, 'place': 'tambaram'}
{'_id': ObjectId('6225affc41ae54792b30376f'), 'name': 'muruga', 'phno': 7124354453, 'place': 'madurai'}

Modify the records, use the update_one() method

In [79]:
# Updating bala place.
filter = { 'name': 'bala' }
 
# Values to be updated.
newvalues = { "$set": { 'place': "selam" } }
 
# Using update_one() method for single
# updation.
c1.update_one(filter, newvalues)

In [80]:
for i in records.find():
  print(i)

{'_id': ObjectId('6225ae9641ae54792b303768'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225afac41ae54792b303769'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225afac41ae54792b30376a'), 'name': 'bala', 'phno': 7854354633, 'place': 'selam'}
{'_id': ObjectId('6225afac41ae54792b30376b'), 'name': 'muruga', 'phno': 7124354453, 'place': 'madurai'}
{'_id': ObjectId('6225affc41ae54792b30376d'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225affc41ae54792b30376e'), 'name': 'bala', 'phno': 7854354633, 'place': 'tambaram'}
{'_id': ObjectId('6225affc41ae54792b30376f'), 'name': 'muruga', 'phno': 7124354453, 'place': 'madurai'}

Delete the record, use delete_one() method. delete_one()

In [81]:
query={"name":"Hari"}
c1.delete_one(query)
for i in records.find():
  print(i)

{'_id': ObjectId('6225afac41ae54792b303769'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225afac41ae54792b30376a'), 'name': 'bala', 'phno': 7854354633, 'place': 'selam'}
{'_id': ObjectId('6225afac41ae54792b30376b'), 'name': 'muruga', 'phno': 7124354453, 'place': 'madurai'}
{'_id': ObjectId('6225affc41ae54792b30376d'), 'name': 'Hari', 'phno': 8124141543, 'place': 'chennai'}
{'_id': ObjectId('6225affc41ae54792b30376e'), 'name': 'bala', 'phno': 7854354633, 'place': 'tambaram'}
{'_id': ObjectId('6225affc41ae54792b30376f'), 'name': 'muruga', 'phno': 7124354453, 'place': 'madurai'}